


body{
	background-color: #990099;
}
#Header{
	background-image: url("../CSS/galaxy.jpg");
	
	height: 500px;
	color: white;
	background-position: center;
    padding-top: 10px;
    padding-bottom:10px;
    padding-right: 0px;
    padding-left:80px;

	}

	#Header h1{
		font-size: 60px;
		 font-variant: small-caps;
		 padding-left: 380px;
		 padding-top: 50px;

	}
	#button{
		background-color: silver;
		width:200px;
		height:400px;
		float:left;
		padding-left: 50px;

	}
	#button1{
		text-align:left;
		

	}

	
	#button2{
		text-align:left;
		

	}
	#Results{
		background-color:silver;
		text-align:center;
		width:200px;
		height:400px;
		float:right;
		padding-right:50px;
		font-size: 20px;

	}

	

	#button3{
		border-radius: 8px;
		padding-top: 10px;
		padding-right: 15px;
		text-align: center;
		font-size: 15px;
		margin: auto;
		display: block;



		
	}


